<form #pageForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput required #pageTitle="ngModel" [(ngModel)]="page.title" name="title">
  </mat-form-field>
  <br>
  <mat-form-field *ngIf="page.id">
    <mat-label>Change description</mat-label>
    <input matInput #pageChangeDescription="ngModel" [(ngModel)]="page.changeDescription" name="change">
  </mat-form-field>
  <br>
  <textarea matInput required #pageContent="ngModel" class="variable-textarea" [(ngModel)]="page.content" name="content"></textarea>
  <app-markdown class="variable-binding" [text]="page.content"></app-markdown>
  <br>
  <button mat-button>Save</button>

</form>
